body{
  font-family: Arial, Helvetica, sans-serif;
}
.main_boxes{
    float: left;
    background: rgb(234, 248, 255);
    height: 80vh;
    overflow: scroll;
}

.main_boxes.order{
  background: rgb(255, 233, 233);
}
.main_boxes.inventory{
  background: rgb(217, 217, 217);
}

.notfound{
  color: #fff;
  background: #000;
}
.card-link[disabled] {
  background: #de0000;
  color: #fff;
  border: none;
}

ul li{
  list-style-type: none;
}



.card-img-top,
p.card-text{display: none;}

