
body{
  font-family: Arial, Helvetica, sans-serif;
}
.main_boxes{
    float: left;
    background: rgb(234, 248, 255);
    height: 80vh;
}

.main_boxes.order{
  background: rgb(255, 233, 233);
}
.main_boxes.inventory{
  background: rgb(217, 217, 217);
}

.notfound{
  color: #fff;
  background: #000;
}